.ShowMoreDiv {
  width: 500px;
  box-shadow: 0px 4px 17px 1px grey;
  margin: auto;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: white;
}

.Tester {
  background: green;
}
